footer {
    width: 100%;
    height: 60vh;
    background-color: var(--cor5);
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 2fr;
    grid-template-rows: 3.2fr 1.8fr;
    margin-top: 70px;
}

.start-img {
    display: block;
    grid-column: 1;
    grid-row: 1;
    height: auto;
    padding: 40px 0 0 50px;
    object-fit: cover;
    margin-top: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    grid-column: 2;
    grid-row: 1;
    margin-top: 50px;
    gap: 10px;
    width: fit-content;
}

.info span{
    color: var(--cor2);
    font-weight: bold;
    margin-bottom: 17px;
}

.info a{
    display: block;
    width: 100%;
    text-align: left;
    text-decoration: none;
    font-weight: 400;
    color: var(--cor2);
    padding-bottom: 20px;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    grid-column: 3;
    grid-row: 1;
    margin-top: 50px;
}

.title-contacts {
    color: var(--cor2);
    font-weight: bold;
    padding-bottom: 20px;
} 

.itens-contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    color: var(--cor2);
    font-weight: 700;
}

.itens-contacts span {
    margin-left: 12px;
}

.itens-contacts img{
    margin-right: 15px;
    width: 14px;
}

.icons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    grid-column: 4;
    grid-row: 1;
    margin-top: 50px;
    width: fit-content;
}

.icons span {
    color: var(--cor2);
}

.icons .group-imgs {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.icons img {
    display: block;
    max-width: 100%;
    height: auto;
}

.dwn-footer{
    display: flex;
    background-color: var(--cor5);
    justify-content: center;
    align-items: center;
    grid-column: 1/-1;
    grid-row: 2;
    width: 100%;
    position: relative;
}

.dwn-footer::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    height: 0.1px;
    background-color: var(--cor3);
    transform: scaleY(0.1);
    opacity: 0.9;
}

.dwn-footer span {
    color: var(--cor3);
    text-align: center;
    padding: 20px;
}