main + section ~ section ~ section {
    display: flex;
}

.projects-container h2 {
    padding-bottom: 60px;
}

.projects-imagens {
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   padding-bottom: 30px;
}

.projects-imagens img {
    display: block;
    width: 100%;
    height: 100%;
    gap: 30px;
    object-fit: cover;
    padding: 15px 15px;
}

.proj-img1 {
    grid-column: span 3;
    grid-row: 1;
}

.proj-img2 {
    grid-column: span 3;
    grid-row: 1;
}

.proj-img3 {
    grid-column: span 2;
    grid-row: 2;
}

.proj-img4 {
    grid-column: span 2;
    grid-row: 2;
}

.proj-img5 {
    grid-column: span 2;
    grid-row: 2;
}

.projects-container a {
    display: flex;
    width: 120px;
    text-align: center;
    justify-content: flex-end;
    padding: 20px 10px;
    background-color: var(--cor5);
    color: var(--cor2);
    text-decoration: none;
    text-transform: uppercase;
}

a {
    margin-left: auto;
    margin-right: 15px;
    white-space: nowrap;
}