@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --color-branca: #e8e8e8;
  --color-preta: #000000;
  --color-cinza1: #6b6f77;
  --color-cinza2: #333333;
  --color-verde: #daff01;
  --color-roxo: #9353ff;
}

body {
  background-color: var(--color-branca);
  font-family: "Inter", sans-serif;
}

html, body {
  overflow-x: hidden; /* Evita que cantos transbordem ao alterar responsividade */
  width: 100%;
}