.layout-container {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

main, aside {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}